<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c20590c-23ea-43c7-b56a-7a6b1e7b2157" Alias="404" Level="2">
  <Info>
    <Parent Key="69dc117c-edaa-4ae1-8c4d-58b3f1c9d1e1">Home Page</Parent>
    <Path>/HomePage/</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2026-05-06T10:47:24</CreateDate>
    <NodeName Default="404" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EError 404\u003C/p\u003E"
}]]></Value>
    </body>
    <image>
      <Value><![CDATA[[
  {
    "key": "0d799f64-c65d-4b91-9581-b151833f1851",
    "mediaKey": "7ec10ee2-5109-4f7a-b40d-ee4ae496fec5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>