<?xml version="1.0" encoding="utf-8"?>
<Content Key="69dc117c-edaa-4ae1-8c4d-58b3f1c9d1e1" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-05-06T10:45:27</CreateDate>
    <NodeName Default="Home Page">
      <Name Culture="en-US">Home Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeDescendantsFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeDescendantsFromNavigation>
    <excludeFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeFromNavigation>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "abbe360b-f2fa-430a-b7b8-5b9fdae9b84e",
      "key": "94274955-5d90-4407-a6c3-88cd4dd79ea7",
      "values": [
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELorem ipsum dolor sit amet.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "key": "38611194-5039-4727-a30d-81e4f433eec4",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "94274955-5d90-4407-a6c3-88cd4dd79ea7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "94274955-5d90-4407-a6c3-88cd4dd79ea7",
        "contentUdi": null,
        "settingsKey": "38611194-5039-4727-a30d-81e4f433eec4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </modules>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
  </Properties>
</Content>