<?xml version="1.0" encoding="utf-8"?>
<Content Key="399b3caf-299b-4049-85e3-3c738640516e" Alias="Landing Page" Level="2">
  <Info>
    <Parent Key="69dc117c-edaa-4ae1-8c4d-58b3f1c9d1e1">Home Page</Parent>
    <Path>/HomePage/LandingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2026-05-06T10:46:04</CreateDate>
    <NodeName Default="Landing Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentPickerMedia>
      <Value><![CDATA[umb://media/7ec10ee251094f7ab40dee4ae496fec5]]></Value>
    </contentPickerMedia>
    <contentPickerPage>
      <Value><![CDATA[umb://document/399b3caf299b404985e33c738640516e]]></Value>
    </contentPickerPage>
    <cta>
      <Value><![CDATA[]]></Value>
    </cta>
    <documentPicker>
      <Value><![CDATA[umb://document/399b3caf299b404985e33c738640516e]]></Value>
    </documentPicker>
    <excludeDescendantsFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeDescendantsFromNavigation>
    <excludeFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeFromNavigation>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "cd07d4e3-bf21-49d7-becc-db766b39250e",
    "mediaKey": "7ec10ee2-5109-4f7a-b40d-ee4ae496fec5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <linkFile>
      <Value><![CDATA[[
  {
    "name": "title media",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://media/7ec10ee251094f7ab40dee4ae496fec5",
    "url": null,
    "queryString": "#anchor",
    "culture": null
  }
]]]></Value>
    </linkFile>
    <linkManual>
      <Value><![CDATA[[
  {
    "name": "Title manual",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://google.com",
    "queryString": "#anchor",
    "culture": null
  }
]]]></Value>
    </linkManual>
    <linkPage>
      <Value><![CDATA[[
  {
    "name": "Title Page",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://document/399b3caf299b404985e33c738640516e",
    "url": null,
    "queryString": "#anchor",
    "culture": null
  }
]]]></Value>
    </linkPage>
    <metaDescription>
      <Value><![CDATA[Test 7]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "abbe360b-f2fa-430a-b7b8-5b9fdae9b84e",
      "key": "98ed6ed9-1de6-484a-b400-10548a2d8ae2",
      "values": [
        {
          "alias": "body",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ELorem ipsum\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "key": "ee6b3f45-6a26-4648-961c-14206fac38bf",
      "values": [
        {
          "alias": "anchorTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Anchor 1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "98ed6ed9-1de6-484a-b400-10548a2d8ae2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "98ed6ed9-1de6-484a-b400-10548a2d8ae2",
        "contentUdi": null,
        "settingsKey": "ee6b3f45-6a26-4648-961c-14206fac38bf",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </modules>
    <promo>
      <Value><![CDATA[]]></Value>
    </promo>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
    <text>
      <Value><![CDATA[]]></Value>
    </text>
  </Properties>
</Content>