<?xml version="1.0" encoding="utf-8"?>
<Content Key="92b7d71f-8c5c-41e7-83ee-622b137f4513" Alias="News" Level="2">
  <Info>
    <Parent Key="69dc117c-edaa-4ae1-8c4d-58b3f1c9d1e1">Home Page</Parent>
    <Path>/HomePage/News</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListing</ContentType>
    <CreateDate>2026-05-06T10:47:44</CreateDate>
    <NodeName Default="News" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeDescendantsFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeDescendantsFromNavigation>
    <excludeFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeFromNavigation>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "e1e5d681-f4be-4a7c-95a7-26b3a67bc32c",
    "mediaKey": "7ec10ee2-5109-4f7a-b40d-ee4ae496fec5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <postListingModules>
      <Value><![CDATA[]]></Value>
    </postListingModules>
    <preListingModules>
      <Value><![CDATA[]]></Value>
    </preListingModules>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
  </Properties>
</Content>