<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0364d10-9ae2-4b5a-a58d-77f07181335a" Alias="Service Page" Level="2">
  <Info>
    <Parent Key="69dc117c-edaa-4ae1-8c4d-58b3f1c9d1e1">Home Page</Parent>
    <Path>/HomePage/ServicePage</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-06T10:46:54</CreateDate>
    <NodeName Default="Service Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESedamet tempora quo totam quae, ullam? Sitet quas in, quae, ipsum quia. Laborumtempora harum sint, minima ipsa quasi? Quasiquis, animi, quos ipsum at quae. \u003C/p\u003E"
}]]></Value>
    </body>
    <excludeDescendantsFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeDescendantsFromNavigation>
    <excludeFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeFromNavigation>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
  </Properties>
</Content>