<?xml version="1.0" encoding="utf-8"?>
<Content Key="74b8d8bc-8408-4410-8001-1e26c7f46396" Alias="Settings" Level="2">
  <Info>
    <Parent Key="69dc117c-edaa-4ae1-8c4d-58b3f1c9d1e1">Home Page</Parent>
    <Path>/HomePage/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2026-05-20T10:06:37</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactDetails>
      <Value><![CDATA[]]></Value>
    </contactDetails>
    <contactLinks>
      <Value><![CDATA[]]></Value>
    </contactLinks>
    <footerMenu>
      <Value><![CDATA[]]></Value>
    </footerMenu>
    <quickMenu>
      <Value><![CDATA[]]></Value>
    </quickMenu>
    <servicePages>
      <Value><![CDATA[]]></Value>
    </servicePages>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <socialShareImage>
      <Value><![CDATA[[
  {
    "key": "ae627932-b9e0-4f6a-88ec-1af93226d48d",
    "mediaKey": "7ec10ee2-5109-4f7a-b40d-ee4ae496fec5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </socialShareImage>
  </Properties>
</Content>