<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca496cd4-6642-4e83-980f-e364351fdf69" Alias="Standard Page 1" Level="3">
  <Info>
    <Parent Key="399b3caf-299b-4049-85e3-3c738640516e">Landing Page</Parent>
    <Path>/HomePage/LandingPage/StandardPage1</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2026-05-06T10:46:25</CreateDate>
    <NodeName Default="Standard Page 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludeDescendantsFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeDescendantsFromNavigation>
    <excludeFromNavigation>
      <Value><![CDATA[0]]></Value>
    </excludeFromNavigation>
    <excludeFromSearch>
      <Value><![CDATA[0]]></Value>
    </excludeFromSearch>
    <excludeFromSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "26279e32-210e-4b0e-b1e7-40deabe352ca",
    "mediaKey": "7ec10ee2-5109-4f7a-b40d-ee4ae496fec5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <socialImage>
      <Value><![CDATA[]]></Value>
    </socialImage>
  </Properties>
</Content>