<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec10ee2-5109-4f7a-b40d-ee4ae496fec5" Alias="My_blue.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/My_bluejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-22T14:41:53</CreateDate>
    <NodeName Default="My_blue.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [
    {
      "alias": "square",
      "width": 500,
      "height": 500,
      "coordinates": null
    },
    {
      "alias": "landscape",
      "width": 500,
      "height": 250,
      "coordinates": null
    }
  ],
  "src": "/media/nxcipsda/my_blue.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>