<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbe98b72-9da5-47cd-861d-22d554672d36" Alias="nimbuscapture_2528732444.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nimbuscapture_2528732444png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-04-23T09:02:48</CreateDate>
    <NodeName Default="nimbuscapture_2528732444.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5val4tom/nimbuscapture_2528732444.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>