<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="301ab5ac-64d7-449e-85f3-688d0129de78" Alias="articleListing" Level="3">
  <Info>
    <Name>Article Listing</Name>
    <Icon>icon-reception color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>6b9d7e4e-6321-4ee1-a258-ceebe12bbb35</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Listing+Pages/Articles</Folder>
    <Compositions>
      <Composition Key="0da5d3fd-ae96-4d59-bb63-3e0812a26ce7">header</Composition>
      <Composition Key="d6ce865a-cd0e-43fd-ba54-42f3ee97d887">iPageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e6ae7939-925b-4b6b-9634-63d6930bad38" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e54efffe-e43b-4d19-bcce-bb6baf8134fe</Key>
      <Name>Post-Listing Modules</Name>
      <Alias>postListingModules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/additionalContent">Additional Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>deca35b9-c78a-4d0a-8310-223d5ebdbea7</Key>
      <Name>Pre-Listing Modules</Name>
      <Alias>preListingModules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/additionalContent">Additional Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>019ade0d-5c81-7906-86cc-b5fc0ca24396</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e2dc1940-42fe-4c12-9ce1-79d1d116bdbe</Key>
      <Caption>Additional Content</Caption>
      <Alias>content/additionalContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>