<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf554ae7-69cb-4676-a307-1108e73ad591" Alias="eventListing" Level="3">
  <Info>
    <Name>Event Listing</Name>
    <Icon>icon-calendar-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>dd71f68a-c66b-481d-be7b-cb397ebb60ab</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Listing+Pages/Events</Folder>
    <Compositions>
      <Composition Key="0da5d3fd-ae96-4d59-bb63-3e0812a26ce7">header</Composition>
      <Composition Key="d6ce865a-cd0e-43fd-ba54-42f3ee97d887">iPageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="31b31534-b31d-4379-bd95-100b0965c02b" SortOrder="0">event</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>26a44e69-4971-4289-9d32-41793d896930</Key>
      <Name>Post-Listing Modules</Name>
      <Alias>postListingModules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/additionalContent">Additional Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9e680ea-05a2-447e-91aa-84ca79eb368c</Key>
      <Name>Pre-Listing Modules</Name>
      <Alias>preListingModules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/additionalContent">Additional Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>019ade0d-5c82-7a7b-9f29-329554277715</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cc3e78e3-8fd3-4d09-8e97-42b9bde84608</Key>
      <Caption>Additional Content</Caption>
      <Alias>content/additionalContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>