<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9da2f0fa-0d75-4f51-9695-0a2633d073f7" Alias="landingPage" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-split-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="0da5d3fd-ae96-4d59-bb63-3e0812a26ce7">header</Composition>
      <Composition Key="d6ce865a-cd0e-43fd-ba54-42f3ee97d887">iPageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4dd2cf8e-7934-46e7-a9ee-e953b1a7b192" SortOrder="0">standardPage</ContentType>
    <ContentType Key="c415c354-0d0a-49ac-878d-88baff0472a1" SortOrder="1">profileListing</ContentType>
    <ContentType Key="301ab5ac-64d7-449e-85f3-688d0129de78" SortOrder="2">articleListing</ContentType>
    <ContentType Key="9c35ea9a-da1d-4faf-8a3e-e9dac3615792" SortOrder="3">documentListing</ContentType>
    <ContentType Key="bf554ae7-69cb-4676-a307-1108e73ad591" SortOrder="4">eventListing</ContentType>
    <ContentType Key="4bc9b193-df43-4106-aadb-b9a6a6e2a007" SortOrder="5">jobListing</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ec468cbc-0f17-45bc-acf1-1bcc218b3914</Key>
      <Name>CTA</Name>
      <Alias>cta</Alias>
      <Definition>509ab0e7-fd1c-4c25-8296-785521e1013a</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation/navigationIntro">Navigation Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffca6137-5250-45dd-a9e6-63d1c35b0fa8</Key>
      <Name>Modules</Name>
      <Alias>modules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c542ff8-2aea-4ece-b72b-912e5f4c803a</Key>
      <Name>Promo</Name>
      <Alias>promo</Alias>
      <Definition>298cfd96-e5e7-41f1-a7b6-33a7cdab56de</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Minimum: 0
Maximum: 1]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/navigationPromo">Navigation Promo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f5c92db-c222-4edd-94a9-3ded78c059b6</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>b1591cde-f445-4699-972e-d8592206d8cd</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/navigationIntro">Navigation Intro</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>019ade0d-5c82-7978-ba67-31c1b02d9b95</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4e84307c-aec2-4521-8fcc-98dcc052b913</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>5c4b5470-f8ad-4776-9b13-68fe0c9ae4fa</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>6a2bd299-af11-46b1-a1a8-332dd4cc496c</Key>
      <Caption>Navigation Intro</Caption>
      <Alias>navigation/navigationIntro</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e1e32a86-8978-405f-9b65-5d56192f328a</Key>
      <Caption>Navigation Promo</Caption>
      <Alias>navigation/navigationPromo</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>