<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="926c4648-8925-45e3-b6c3-00f49bafce3b" Alias="rootDataFolder" Level="2">
  <Info>
    <Name>Root Data Folder</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a9d5abac-f960-4c3b-a6f9-8783c1a6d8df" SortOrder="0">articleTags</ContentType>
    <ContentType Key="5f8c0d2f-d66e-4a5f-9347-0deb31dcb1e0" SortOrder="1">contractTypes</ContentType>
    <ContentType Key="eae2d03b-541c-4824-999d-139cae6a796f" SortOrder="2">departments</ContentType>
    <ContentType Key="c5d5b68b-eb57-4540-becd-2247fc5270f1" SortOrder="3">locations</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>