<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4dd2cf8e-7934-46e7-a9ee-e953b1a7b192" Alias="standardPage" Level="1">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="0da5d3fd-ae96-4d59-bb63-3e0812a26ce7">header</Composition>
      <Composition Key="d6ce865a-cd0e-43fd-ba54-42f3ee97d887">iPageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4dd2cf8e-7934-46e7-a9ee-e953b1a7b192" SortOrder="0">standardPage</ContentType>
    <ContentType Key="301ab5ac-64d7-449e-85f3-688d0129de78" SortOrder="1">articleListing</ContentType>
    <ContentType Key="c415c354-0d0a-49ac-878d-88baff0472a1" SortOrder="2">profileListing</ContentType>
    <ContentType Key="9c35ea9a-da1d-4faf-8a3e-e9dac3615792" SortOrder="3">documentListing</ContentType>
    <ContentType Key="bf554ae7-69cb-4676-a307-1108e73ad591" SortOrder="4">eventListing</ContentType>
    <ContentType Key="4bc9b193-df43-4106-aadb-b9a6a6e2a007" SortOrder="5">jobListing</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1f85e320-0f62-465c-b0b0-615042e97132</Key>
      <Name>Modules</Name>
      <Alias>modules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>36260e23-d119-4e83-a18e-bcbaaeeca6aa</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>