<?xml version="1.0" encoding="utf-8"?>
<DataType Key="322533be-1883-4d29-ba2d-950ea65e5fad" Alias="Block List - Accordion Items" Level="1">
  <Info>
    <Name>Block List - Accordion Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9054ace4-4f0d-48ab-822e-9afdd1d7bf62",
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>