<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5671dc8f-be2b-4f14-9849-79c18f08a5a0" Alias="Block List - Logo Wall - Logos" Level="1">
  <Info>
    <Name>Block List - Logo Wall - Logos</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "acdceeb1-1072-45fc-b030-a28cf79bbd52",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>