<?xml version="1.0" encoding="utf-8"?>
<DataType Key="610c0a20-16f8-437e-b173-c7c56d63f6a9" Alias="Block List - Media - Media Items" Level="1">
  <Info>
    <Name>Block List - Media - Media Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7b4a3999-5a7d-4840-aafb-9e15ea296577",
      "settingsElementTypeKey": "6151b059-bd40-4811-aad7-5dd935ea6cb3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>