<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b9f920a-3030-4740-81a6-18c871ff899e" Alias="Media Picker - SVG" Level="1">
  <Info>
    <Name>Media Picker - SVG</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2025-11-14T10:41:00.408028\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>