<?xml version="1.0" encoding="utf-8"?>
<DataType Key="00573425-5b4a-4de0-af98-fe500fe00ada" Alias="Platform - Dropdown" Level="1">
  <Info>
    <Name>Platform - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Instagram",
    "Facebook",
    "X",
    "LinkedIn",
    "YouTube",
    "Vimeo"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-11-14T10:41:00.3804394\u002B00:00"
}]]></Config>
</DataType>