<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba39d9b5-bf35-4958-8c39-33d16868979f" Alias="Rich Text Editor - Full Formatting" Level="1">
  <Info>
    <Name>Rich Text Editor - Full Formatting</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7bc9290f-4019-46da-9c96-a89c094a93ce",
      "label": "Media: {{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "displayInline": false
    },
    {
      "contentElementTypeKey": "acb4de70-dc7a-4d81-8c50-129dba5f2042",
      "label": "Quote: {{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "displayInline": false
    },
    {
      "contentElementTypeKey": "ce191c0f-718a-4531-a430-04d321325bd9"
    }
  ],
  "dimensions": {
    "width": null,
    "height": 600
  },
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.Block",
    "Umb.Tiptap.Anchor",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.HorizontalRule",
    "Umb.Tiptap.HtmlAttributeClass",
    "Umb.Tiptap.HtmlAttributeDataset",
    "Umb.Tiptap.HtmlAttributeId",
    "Umb.Tiptap.HtmlAttributeStyle",
    "Umb.Tiptap.HtmlTagDiv",
    "Umb.Tiptap.HtmlTagSpan",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.Strike",
    "Umb.Tiptap.TrailingNode"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "stylesheets": [
    "/css/RTE.css"
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor",
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.Redo",
        "Umb.Tiptap.Toolbar.StyleSelect",
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic",
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.TextOutdent",
        "Umb.Tiptap.Toolbar.TextIndent",
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink",
        "Umb.Tiptap.Toolbar.MediaPicker",
        "Umb.Tiptap.Toolbar.Table",
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.Superscript",
        "Umb.Tiptap.Toolbar.BlockPicker",
        "Umb.Tiptap.Toolbar.BlockPicker"
      ]
    ]
  ],
  "umbMigrationV14": "2025-11-14T10:41:00.4254725\u002B00:00",
  "useLiveEditing": false
}]]></Config>
</DataType>