<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7cc3573d-6b82-408e-b2ef-f230134ab9f9" Alias="Single Node Treepicker - Job - Locations" Level="1">
  <Info>
    <Name>Single Node Treepicker - Job - Locations</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "511252b9-994a-4761-9807-bcfccbfb5c44",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "c5d5b68b-eb57-4540-becd-2247fc5270f1"
          ]
        }
      ]
    }
  },
  "umbMigrationV14": "2025-11-14T10:41:00.4949158\u002B00:00"
}]]></Config>
</DataType>