<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb66acdf-8403-4226-a1a7-b3c4f1497874" Alias="Toggle - Generic" Level="1">
  <Info>
    <Name>Toggle - Generic</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "showLabels": false
}]]></Config>
</DataType>