<?xml version="1.0" encoding="utf-8"?>
<DataType Key="298cfd96-e5e7-41f1-a7b6-33a7cdab56de" Alias="Block List - Landing Page - Promo" Level="1">
  <Info>
    <Name>Block List - Landing Page - Promo</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "91b6e44d-f329-4217-83f1-4e59d60adf2f"
    },
    {
      "contentElementTypeKey": "d87cc4cc-bf4e-470e-b86f-40d5b1000254"
    }
  ],
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>