<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07b3397f-618f-45f9-9e9b-7f0e862a745c" Alias="Block List - Content Promo - Cards" Level="1">
  <Info>
    <Name>Block List - Content Promo - Cards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a2a089c0-0c1a-47ab-81ef-e3dbfaede660",
      "settingsElementTypeKey": "df92b17e-53c0-498d-8f8a-3677bb9bacad",
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>