<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff54c508-f34c-49a9-95c3-ebe80d5f4698" Alias="Block List - Downloads - Downloads" Level="1">
  <Info>
    <Name>Block List - Downloads - Downloads</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d015a8b8-667b-4d30-a06f-4f2c34d8db4c"
    }
  ]
}]]></Config>
</DataType>