<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4d489ad-a80d-477e-9702-df4b1efa0c21" Alias="Block List - Key Facts - Key Facts" Level="1">
  <Info>
    <Name>Block List - Key Facts - Key Facts</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1b4f1354-af9e-4924-bcad-41934f56015a",
      "label": "{umbValue: value | strip-html}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>