<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d800167d-d1b1-4b48-b702-3871bd85df7d" Alias="Block List - Timeline - Timeline Steps" Level="1">
  <Info>
    <Name>Block List - Timeline - Timeline Steps</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8a1f0354-2f2b-4416-a7fc-6f7134a24030",
      "label": "{=date}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>