<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d1ccd1e-3deb-4785-b112-30fa98ac8b80" Alias="Block List - Quote Items" Level="1">
  <Info>
    <Name>Block List - Quote Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0a5a64fe-672a-4d96-a0ba-7bd99e543a10",
      "label": "{=citation}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>