<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7360da34-a3c7-499c-ab68-1d2ce8ff6954" Alias="Block List - Content Carousel - Carousel Items" Level="1">
  <Info>
    <Name>Block List - Content Carousel - Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "97f3a233-5feb-4b7f-bac0-57e1e5b5ac64"
    }
  ],
  "validationLimit": {
    "min": 1,
    "max": 6
  }
}]]></Config>
</DataType>