<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2885d9b0-b3e2-4593-9e7d-73cd06bc54a6" Alias="Block List - Social Connect - Social Links" Level="1">
  <Info>
    <Name>Block List - Social Connect - Social Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dcea03ae-d5be-405c-91fb-f67cc8985e2e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>