<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efd2fa4f-f4e7-4f33-b401-aff558a376de" Alias="Block List - Icon  Text List - Icons  Text" Level="1">
  <Info>
    <Name>Block List - Icon  Text List - Icons  Text</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "641b4a31-7ddb-42ca-9a26-c471dc996b03",
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>