<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0fd258b0-60b2-448e-8ee3-53ae438bf0cc" Alias="Block List - Contacts" Level="1">
  <Info>
    <Name>Block List - Contacts</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "218b469c-396d-414b-b213-33e2db2a9562",
      "label": "{=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": 1,
    "max": 12
  }
}]]></Config>
</DataType>