<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c321ca00-55b0-406f-b137-1371972bf420" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "umbMigrationV14": "2025-11-14T10:41:00.5246407\u002B00:00"
}]]></Config>
</DataType>