<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c776c27-26fe-4a3a-8d55-0fb337654696" Alias="Landing Page -  - Content Picker" Level="1">
  <Info>
    <Name>Landing Page -  - Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "4afc50ed-216c-4a9e-8918-29c181cd980a,9da2f0fa-0d75-4f51-9695-0a2633d073f7,b0bd8cdb-faf3-4b8c-9dca-f2d94e553938,4dd2cf8e-7934-46e7-a9ee-e953b1a7b192,34e0000c-8372-4df4-bfbe-a0833a4dc07d",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originAlias": "Root"
    }
  }
}]]></Config>
</DataType>