<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e18c8f1a-6857-4e09-8bbf-2661ac83cd56" Alias="List View - documentCategory" Level="1">
  <Info>
    <Name>List View - documentCategory</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "bulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": true,
    "allowBulkDelete": true
  },
  "icon": "icon-list",
  "includeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": true
    },
    {
      "alias": "creator",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    },
    {
      "name": "Grid",
      "collectionView": "Umb.CollectionView.Document.Grid",
      "icon": "icon-thumbnails-small",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "sortOrder",
  "orderDirection": "asc",
  "pageSize": 10,
  "showContentFirst": false,
  "tabName": "Documents",
  "umbMigrationV14": "2025-11-14T10:41:00.5142857\u002B00:00",
  "useInfiniteEditor": false
}]]></Config>
</DataType>