<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3a01777-c147-4500-b0f5-553ebb632f2e" Alias="Multi URL Picker - Generic 0-12" Level="1">
  <Info>
    <Name>Multi URL Picker - Generic 0-12</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 12,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>