<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf1aec71-3116-448a-a146-0e4719ca3428" Alias="Multinode Treepicker - Article Tags" Level="1">
  <Info>
    <Name>Multinode Treepicker - Article Tags</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "0b258314-d042-4d4e-80c0-4932ee99a015",
  "ignoreUserStartNodes": false,
  "maxNumber": 12,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": "57244516-d2a6-4de2-aa1d-2f6f79717411",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2025-11-14T10:41:00.4340735\u002B00:00"
}]]></Config>
</DataType>