<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f575b6d7-da8d-4150-b82c-f9cd105c45c1" Alias="Multiple Image Media Picker - 1 to 5" Level="1">
  <Info>
    <Name>Multiple Image Media Picker - 1 to 5</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "multiple": true,
  "validationLimit": {
    "min": 1,
    "max": 5
  }
}]]></Config>
</DataType>