<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36df866d-327b-4f37-b5b4-d145aec4aa28" Alias="Multi URL Picker - 1 - 5" Level="1">
  <Info>
    <Name>Multi URL Picker - 1 - 5</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 5,
  "minNumber": 1
}]]></Config>
</DataType>