<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fe5fa21-247d-4209-aaa7-d6a19ba03137" Alias="Numeric - 0-9999" Level="1">
  <Info>
    <Name>Numeric - 0-9999</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 9999,
  "min": 0,
  "step": 1
}]]></Config>
</DataType>