<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3032cb9-574b-4e7a-8497-e639f9ebf2fe" Alias="Page Blocks" Level="1">
  <Info>
    <Name>Page Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "92b62567-de09-4cd4-a28b-da0fcb3cbfdd",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Accordion: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "abbe360b-f2fa-430a-b7b8-5b9fdae9b84e",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Body Text: {umbValue: body | strip-html | truncate:100:...}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "bdd37f9a-88d6-4561-a03b-77f60808c481"
    },
    {
      "contentElementTypeKey": "8746097c-fc9d-47bf-8118-98bd1eb0f235",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Content Promo: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "aa3d4c00-3fa0-4ee3-87d1-cf3495581b83"
    },
    {
      "contentElementTypeKey": "7b689085-b3c4-4122-ac44-3c5062049411",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Icon \u0026 Text List: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "ae707eaa-bdad-4754-aad0-ffec46fd65a3",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Iframe Embed: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f9a2f286-75ce-48b5-a3d3-a653dd449e40"
    },
    {
      "contentElementTypeKey": "63570e30-7bd5-4a25-9d8c-d7a338218141",
      "label": "Jumplinks: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "54b2cee8-e92d-4ee7-ac99-3793d7b3a2cc",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Key Facts: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f30699ea-c102-4994-bd42-aa9c0f4aaeec",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Latest Article: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "5412e35d-21d5-4735-bc19-c2e88bf9c4fb",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Latest RNS: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "1275a418-d339-4e5d-b732-806bf73a08f7",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Links Promo: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f007ee05-8b16-4e2b-9d52-05e1105f503c",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Contacts: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "a176748d-4ab5-4c22-bf88-f6b971aa3361",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Logo Wall: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "7bc9290f-4019-46da-9c96-a89c094a93ce",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Media: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "72f0f23e-ec52-4a0e-82fd-12c861cfa9dc",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Quick Links: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "acb4de70-dc7a-4d81-8c50-129dba5f2042",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Quote: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "075fdbbf-a48d-4d03-9098-a215056c2c9d",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Related Pages: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "aeb46967-940c-41d4-bf53-9f18379ca831",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Share Price: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "67689486-95c7-4585-95a5-10954f898447",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Social Connect: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "0861bc61-8916-4167-b414-ceec99141284",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Timeline: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "3d03b50c-a81e-4c7a-9707-48c8b6c98e4b",
      "settingsElementTypeKey": "373db47f-72f4-4d3c-8dac-94ea79c4c709",
      "label": "Webform: {=title}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>