<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d8e62a1-b429-4485-aa11-03a133f1d92b" Alias="Radio button list - Left, Right" Level="1">
  <Info>
    <Name>Radio button list - Left, Right</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right"
  ],
  "umbMigrationV14": "2025-11-14T10:41:00.4168395\u002B00:00"
}]]></Config>
</DataType>