<?xml version="1.0" encoding="utf-8"?>
<DataType Key="feb5be37-8051-44fc-9c08-dc859e2e2f1f" Alias="Related Pages - Pages - Block List" Level="1">
  <Info>
    <Name>Related Pages - Pages - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b1316fb8-ddd2-4254-95cf-00811d8950a3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>