<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4889a55a-f961-413d-814c-3c17ba486f5e" Alias="Repeatable textstrings - Generic" Level="1">
  <Info>
    <Name>Repeatable textstrings - Generic</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0,
  "umbMigrationV14": "2025-11-14T10:41:00.4056716\u002B00:00"
}]]></Config>
</DataType>