<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1591cde-f445-4699-972e-d8592206d8cd" Alias="Rich Text Editor - Subscript, Superscript" Level="1">
  <Info>
    <Name>Rich Text Editor - Subscript, Superscript</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.Subscript",
    "Umb.Tiptap.Superscript",
    "Umb.Tiptap.Table",
    "Umb.Tiptap.TextAlign",
    "Umb.Tiptap.TextDirection",
    "Umb.Tiptap.TextIndent",
    "Umb.Tiptap.Underline",
    "Umb.Tiptap.Anchor",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.HorizontalRule",
    "Umb.Tiptap.HtmlAttributeClass",
    "Umb.Tiptap.HtmlAttributeDataset",
    "Umb.Tiptap.HtmlAttributeId",
    "Umb.Tiptap.HtmlAttributeStyle",
    "Umb.Tiptap.HtmlTagDiv",
    "Umb.Tiptap.HtmlTagSpan",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.Strike",
    "Umb.Tiptap.TrailingNode"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "small",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.Subscript",
        "Umb.Tiptap.Toolbar.Superscript"
      ]
    ]
  ],
  "umbMigrationV14": "2025-11-14T10:41:00.4222765\u002B00:00",
  "useLiveEditing": false
}]]></Config>
</DataType>