<?xml version="1.0" encoding="utf-8"?>
<DataType Key="509ab0e7-fd1c-4c25-8296-785521e1013a" Alias="Single URL Picker - Generic" Level="1">
  <Info>
    <Name>Single URL Picker - Generic</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>