<?xml version="1.0" encoding="utf-8"?>
<DataType Key="183f4c07-c2ed-4ee7-9323-4e093349ad4f" Alias="Single Node Treepicker - Job - Department" Level="1">
  <Info>
    <Name>Single Node Treepicker - Job - Department</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "57e742cd-3186-4c6d-a027-b7c8cb268aa6",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": {
      "originAlias": "Root",
      "querySteps": [
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "eae2d03b-541c-4824-999d-139cae6a796f"
          ]
        }
      ]
    }
  },
  "umbMigrationV14": "2025-11-14T10:41:00.4913471\u002B00:00"
}]]></Config>
</DataType>