<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eae2d03b-541c-4824-999d-139cae6a796f" Alias="departments" Level="2">
  <Info>
    <Name>Departments</Name>
    <Icon>icon-company color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="57e742cd-3186-4c6d-a027-b7c8cb268aa6" SortOrder="0">department</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>