<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34e0000c-8372-4df4-bfbe-a0833a4dc07d" Alias="errorPage" Level="1">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-application-error color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="0da5d3fd-ae96-4d59-bb63-3e0812a26ce7">header</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="83de8483-111c-479e-81df-efbeef46c23f">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>85f516df-aac5-40d3-a91a-ebe0448c99ab</Key>
      <Name>Body</Name>
      <Alias>body</Alias>
      <Definition>186b5ffe-68e0-4584-821f-4b25d544bc0b</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>019ade0d-5c82-7fbc-bae8-f6d119cf7ef2</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>aadc0938-5f36-4384-abca-f5c0e18af820</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>