<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4afc50ed-216c-4a9e-8918-29c181cd980a" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="d6ce865a-cd0e-43fd-ba54-42f3ee97d887">iPageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ec52f9a4-3ecb-43aa-94be-d1e287891f26" SortOrder="0">siteSettings</ContentType>
    <ContentType Key="4dd2cf8e-7934-46e7-a9ee-e953b1a7b192" SortOrder="1">standardPage</ContentType>
    <ContentType Key="9da2f0fa-0d75-4f51-9695-0a2633d073f7" SortOrder="2">landingPage</ContentType>
    <ContentType Key="301ab5ac-64d7-449e-85f3-688d0129de78" SortOrder="3">articleListing</ContentType>
    <ContentType Key="c415c354-0d0a-49ac-878d-88baff0472a1" SortOrder="4">profileListing</ContentType>
    <ContentType Key="9c35ea9a-da1d-4faf-8a3e-e9dac3615792" SortOrder="5">documentListing</ContentType>
    <ContentType Key="bf554ae7-69cb-4676-a307-1108e73ad591" SortOrder="6">eventListing</ContentType>
    <ContentType Key="4bc9b193-df43-4106-aadb-b9a6a6e2a007" SortOrder="7">jobListing</ContentType>
    <ContentType Key="34e0000c-8372-4df4-bfbe-a0833a4dc07d" SortOrder="8">errorPage</ContentType>
    <ContentType Key="b0bd8cdb-faf3-4b8c-9dca-f2d94e553938" SortOrder="9">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c4587023-97d2-4cdc-acf3-004b880fc1c2</Key>
      <Name>Modules</Name>
      <Alias>modules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2c27b384-1776-485d-8d27-676c66d3c27e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>