<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4bc9b193-df43-4106-aadb-b9a6a6e2a007" Alias="jobListing" Level="3">
  <Info>
    <Name>Job Listing</Name>
    <Icon>icon-indent color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>406e3377-2f69-4ea9-aba0-85f8279c6d9f</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Listing+Pages/Jobs</Folder>
    <Compositions>
      <Composition Key="0da5d3fd-ae96-4d59-bb63-3e0812a26ce7">header</Composition>
      <Composition Key="d6ce865a-cd0e-43fd-ba54-42f3ee97d887">iPageSettings</Composition>
    </Compositions>
    <DefaultTemplate>JobListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fea1dde2-c03b-45cc-a5c9-a2db57df2db2">JobListing</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="117e9e58-535d-4bb0-a2fb-3bab78a684a3" SortOrder="0">job</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6d1667ec-ce09-4bc6-a937-85d69b3bee0e</Key>
      <Name>Modules</Name>
      <Alias>modules</Alias>
      <Definition>b3032cb9-574b-4e7a-8497-e639f9ebf2fe</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/additionalContent">Additional Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9013c413-4675-4815-8dab-dee620efb6bb</Key>
      <Caption>Additional Content</Caption>
      <Alias>content/additionalContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>